@import "compass-imagehelper";

.icons {
  list-style: none;
  padding: 0;
  display: block;

  > li {
    padding-top: 1em;
    padding-bottom: 1em;
    &:nth-child(even) {
      background-color: #eee;
    }
  }
}

.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: 0 50%;
}


.icon--battery_50-png {
  $img: 'battery_50.png';
  background-image: inline-image($img);
  padding-left: image-width($img) + 10px;
  min-height: image-height($img);
}

.icon--battery_50-svg {
  $img: 'battery_50.svg';
  background-image: inline-image($img);
  padding-left: image-width($img) + 10px;
  min-height: image-height($img);
}

.icon--imageurl{
  $img: 'battery_50.png';
  background-image: image-url($img);
  padding-left: image-width($img) + 10px;
  min-height: image-height($img);
}


